button{

    color: #0f0b13;
    padding: 8px 22px;
    border-radius: 6px;
    background: #9900ff;
    transition: all 0.2s ease;
    background-color: #2577fa; 
    color: #fafbfc;
  
  button:active {
  
      transform: scale(0.96);
    
  }
    }
  
  
  
  
  nav {
    background-color: black;
    color: black;
  }
  
  h1{
  
  position: relative;
    
  }
  h1:before {
  
  content: "";
  position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
    border-radius: 25px;
    transform: scaleX(0);
    background: #4070f4;
    
  }
  h1:hover:before {
    transform: scaleX(1);
  }
  button {
    box-shadow: 0 0 2.5px #009dff, 0 0 10.25px #009dff;
  }
  button:hover {
      box-shadow: 0 2px 5px #009dff, 0 0 10px #009dff, 0 0 25px #009dff, 0 0 50px #009dff, 0 0 100px #009dff;
  }
  
  
  *{
    background-color: #000000; 
    color: #ffffff;
  }
  #india{
    width: 100px;
    
  }
  .divindia{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a{
    text-decoration: none;
  }
  
        nav li{
        display: inline;
        margin:5px;
      }
  button{
  
  position: relative;
    
  }
  button:before {
  
  content: "";
  position: absolute;
    bottom: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    transition: 0.5s;
    border-radius: 25px;
    transform: scaleX(0);
    background: #ffffff;
    
  }
  button:hover:before {
    transform: scaleX(1);
  }
  #header {
    width: 50;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  details{
    cursor: pointer;
    display: inline-block;
  }
  button{
    cursor: pointer;
  }
  #divdetails {
    display: inline;
  }
  details{
    display: inline;
  }
  nav {
    position: sticky;
    top: 0px;
  }
  .i{
    margin-left: 5px;
  
  }
  .register-link{
    display: flex;
    width: 100vw;
    justify-content: center;
  
  }
  .form{
      margin-top: 16px;
    margin-left: 3px;
  }
  .formbutton{
    width: 100vw;
    justify-content: center;
    margin-left: 45vw;
  }
  .b{
    margin-top: 3px;
    margin-left: 3px;
  }
  h1{
    background-image: url("bg.jpg");
    background-size: cover;
  background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  
  }
  .navbar{
    justify-content: space-evenly;
  }